* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5; }

.form-control {
  max-width: 35%;
  display: inline; }

.header-container {
  width: 100%;
  background-color: #F5F5F5;
  padding-top: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e5; }

.header {
  background-color: #F5F5F5;
  width: 990px;
  margin-right: auto;
  margin-left: auto; }
  .header i.fa-github {
    font-size: 35px;
    margin-right: 8px;
    margin-top: 0px;
    vertical-align: middle; }
    .header i.fa-github i.fa-github:hover {
      color: #4078c0; }
  .header input {
    font-size: 13px; }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .header li {
    display: inline;
    margin: 0;
    padding: 7px; }
  .header a {
    color: black; }
  .header a:hover {
    color: #4078c0;
    text-decoration: none; }
  .header .nav-links-left {
    display: inline-block;
    font-weight: bold;
    font-size: 13px; }
  .header .nav-link-right {
    float: right;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -17px;
    font-weight: bold;
    font-size: 14px; }

.profile-picture-small {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  margin-right: -10px; }

.profile-picture-main {
  max-height: 233px;
  width: 233px;
  border-radius: 6px;
  margin-bottom: 8px; }

.wrapper {
  width: 990px;
  margin: 0 auto;
  background-color: white;
  margin-top: 25px; }

.left-container {
  float: left;
  width: 24%;
  margin-right: 20px;
  margin-bottom: 30px;
  overflow: hidden; }
  .left-container i {
    margin-right: 5px; }
  .left-container img {
    margin-right: 5px; }
  .left-container #name {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600; }
  .left-container #user-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666; }
  .left-container #bio {
    margin-bottom: 12px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    line-height: 1.5;
    font-size: 14px;
    color: #767676; }
  .left-container #company {
    padding: 3px; }
  .left-container #location {
    padding: 3px; }
  .left-container #blog {
    padding: 3px;
    white-space: nowrap; }
    .left-container #blog img {
      margin-right: 4px; }
  .left-container #joined {
    padding: 3px;
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 15px; }
  .left-container .followers-starred-following {
    border-bottom: 1px solid #d5d5d5;
    padding: 10px;
    padding-top: 8px;
    color: #767676;
    font-size: 15px; }
    .left-container .followers-starred-following .followers,
    .left-container .followers-starred-following .following,
    .left-container .followers-starred-following .starred {
      font-size: 40px;
      font-weight: 700;
      color: #4078c0; }
    .left-container .followers-starred-following div {
      display: inline-block;
      width: 32%;
      text-align: center; }
  .left-container #organizations {
    margin-top: 10px; }
    .left-container #organizations img {
      display: inline-block;
      overflow: hidden;
      line-height: 1;
      vertical-align: middle;
      border-radius: 3px;
      height: 35px;
      width: 35px; }
    .left-container #organizations .organizations-header {
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 600; }

.main-container {
  float: right;
  width: 73%;
  margin-bottom: 30px; }
  .main-container .nav {
    margin-bottom: 13px; }
  .main-container button.nav-top-search {
    float: right;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none; }

.repo-listing-container {
  border-bottom: 1px solid #d5d5d5;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #767676; }
  .repo-listing-container a {
    color: #4078c0;
    text-decoration: none;
    font-weight: 600; }
  .repo-listing-container a:hover {
    text-decoration: underline; }
  .repo-listing-container img {
    margin-right: 5px; }
  .repo-listing-container .repos-name {
    display: inline-block;
    font-size: 18px; }
  .repo-listing-container .repos-language {
    display: inline-block;
    float: right;
    margin-right: 10px; }
  .repo-listing-container .repos-stars-count {
    display: inline-block;
    float: right;
    margin-left: 5px; }
  .repo-listing-container .repos-forks-count {
    display: inline-block;
    float: right;
    margin-left: 5px; }
  .repo-listing-container .updated-at {
    font-size: 14px;
    margin-top: 10px; }

.git-commit-logo {
  display: inline-block; }

.repo-search-tab {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 10px; }
  .repo-search-tab button.repo-search-tab-button-right {
    float: right;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941; }
  .repo-search-tab button.repo-search-tab-button-left {
    margin-top: -2px;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .repo-search-tab .repo-search-tab-links {
    display: inline-block;
    margin-left: 10px; }
    .repo-search-tab .repo-search-tab-links a {
      color: #4078c0;
      text-decoration: none;
      font-size: 14px; }
    .repo-search-tab .repo-search-tab-links a:hover {
      text-decoration: underline; }
    .repo-search-tab .repo-search-tab-links ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block; }
    .repo-search-tab .repo-search-tab-links li {
      display: inline;
      margin: 0;
      padding: 3px; }

.events-listing-container {
  border-bottom: 1px solid #d5d5d5;
  padding-top: 15px;
  padding-bottom: 15px; }
  .events-listing-container .git-commit-logo {
    height: 35px;
    width: 35px;
    margin-right: 8px; }
  .events-listing-container .pushed-to {
    font-weight: bold;
    font-size: 14px; }
  .events-listing-container .profile-pic-and-commit {
    padding-top: 5px; }
  .events-listing-container img.events-profile-pic-large {
    width: 31px;
    height: 31px;
    margin-right: 9px;
    border-radius: 3px; }
  .events-listing-container img.events-profile-pic-small {
    width: 15px;
    height: 15px;
    margin-top: -9px;
    margin-right: 4px;
    border-radius: 3px; }

.footer {
  clear: both;
  border-top: 1px solid #eee;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  font-size: 12px; }
  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block; }
  .footer li {
    display: inline;
    margin: 0;
    padding: 5px; }
  .footer a:hover {
    color: #4078c0; }
  .footer .footer-links-right {
    float: right; }
  .footer .github-logo-footer {
    display: inline;
    margin-left: 92px;
    width: 24px;
    height: 24px; }
