// Sass variables
$primary-color-1: white;
$primary-color-2: lightgray;
$font-color: black;
$font-color-2: #767676;
$border-color: #5CA4D7;
$main-font: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
// Sass imports
// Sass mixins
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Includes
* {
    @include border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: $main-font;
    line-height: 1.5;
}

// nav 
.form-control {
    max-width: 35%;
    display: inline;
}

.header-container {
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.header {
    background-color: #F5F5F5;
    width: 990px;
    margin-right: auto;
    margin-left: auto;
    i.fa-github {
        font-size: 35px;
        margin-right: 8px;
        margin-top: 0px;
        vertical-align: middle;
        i.fa-github:hover {
            color: #4078c0;
        }
    }
    input {
        font-size: 13px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline;
        margin: 0;
        padding: 7px;
    }
    a {
        color: $font-color;
    }
    a:hover {
        color: #4078c0;
        text-decoration: none;
    }
    .nav-links-left {
        display: inline-block;
        font-weight: bold;
        font-size: 13px;
    }
    .nav-link-right {
        float: right;
        padding-top: 6px;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: -17px;
        font-weight: bold;
        font-size: 14px;
    }
}

.profile-picture-small {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    margin-right: -10px;
}

.profile-picture-main {
    max-height: 233px;
    width: 233px;
    border-radius: 6px;
    margin-bottom: 8px;
}

.wrapper {
    width: 990px;
    margin: 0 auto;
    background-color: $primary-color-1;
    margin-top: 25px;
}

// profile info
.left-container {
    float: left;
    width: 24%;
    margin-right: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    i {
        margin-right: 5px;
    }
    img {
        margin-right: 5px;
    }
    #name {
        font-size: 26px;
        line-height: 30px;
        font-weight: 600;
    }
    #user-name {
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        color: #666;
    }
    #bio {
        margin-bottom: 12px;
        margin-top: 15px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #d5d5d5;
        line-height: 1.5;
        font-size: 14px;
        color: #767676;
    }
    #company {
        padding: 3px;
    }
    #location {
        padding: 3px;
    }
    #blog {
        padding: 3px;
        white-space: nowrap;
        img {
            margin-right: 4px
        }
    }
    #joined {
        padding: 3px;
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 15px;
    }
    .followers-starred-following {
        border-bottom: 1px solid #d5d5d5;
        padding: 10px;
        color: $font-color-2;
        font-size: 15px;
        div {
            display: inline-block;
            width: 32%;
            text-align: center;
        }
    }
    #organizations {
        margin-top: 10px;
        img {
            display: inline-block;
            overflow: hidden;
            line-height: 1;
            vertical-align: middle;
            border-radius: 3px;
            height: 35px;
            width: 35px;
        }
        .organizations-header {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: 600;
        }
    }
}

// repo info
.main-container {
    float: right;
    width: 73%;
    margin-bottom: 30px;
    .nav {
        margin-bottom: 13px;
    }
    .edit-profile-button {}
    .repo-listing-container {
        border-bottom: 1px solid #d5d5d5;
        padding-top: 20px;
        padding-bottom: 20px;
        color: $font-color-2;
        a {
            color: #4078c0;
            text-decoration: none;
            font-weight: 600;
        }
        a:hover {
            text-decoration: underline;
        }
        img {
            margin-right: 5px;
        }
        .repos-name {
            display: inline-block;
            font-size: 18px;
        }
        .repos-language {
            display: inline-block;
            float: right;
            margin-right: 10px;
        }
        .repos-stars-count {
            display: inline-block;
            float: right;
            margin-left: 5px;
        }
        .repos-forks-count {
            display: inline-block;
            float: right;
            margin-left: 5px;
        }
        .updated-at {
            font-size: 14px;
            margin-top: 10px;
        }
    }
    .git-commit-logo {
        display: inline-block;
    }
    .events-listing-container {
        border-bottom: 1px solid #d5d5d5;
        padding-top: 15px;
        padding-bottom: 15px;
        .git-commit-logo {
            height: 35px;
            width: 35px;
            margin-right: 8px;
        }
        .pushed-to {
            font-weight: bold;
            font-size: 15px;
        }
        .profile-pic-and-commit {
            padding-top: 5px;
        }
        img.events-profile-pic-large {
            width: 31px;
            height: 31px;
            margin-right: 9px;
            border-radius: 3px;
        }
        img.events-profile-pic-small {
            width: 15px;
            height: 15px;
            margin-top: -9px;
            margin-right: 4px;
            border-radius: 3px;
        }
    }
}

// footer
.footer {
    clear: both;
    border-top: 1px solid #eee;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
    }
    li {
        display: inline;
        margin: 0;
        padding: 5px;
    }
    a:hover {
        color: #4078c0;
    }
    .footer-links-right {
        float: right;
    }
    .github-logo-footer {
        display: inline;
        margin-left: 92px;
        width: 24px;
        height: 24px;
    }
}
